@import url('https://fonts.googleapis.com/css2?family=Neucha&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/*
font-family: 'Neucha', cursive;
font-family: 'Roboto', sans-serif;
*/

body {
    font-family: 'Roboto', sans-serif;
    background: #FEFEFE;
}

/*custom navbar*/
#navbarNav ul li {
    padding-left: 45px;
    padding-right: 35px;
}

.nav-me ul {
    padding: 80px 0;
    position: relative;
}

.nav-me ul a {
    font-family: Roboto, sans-serif;
}

.nav-me .active a {
    font-weight: 600;
}

.nav-me a {
    color: #333333;
}

.nav-me #logo-main {
    font-family: 'Neucha', cursive;
    font-size: 4.2em;
}

.nav-me #logo-tagline {
    font-family: 'Neucha', cursive;
    font-size: 16px;
    line-height: 16px;
    font-weight: 600;
    color: #333333;
    margin-top: -32px;
    margin-left: 8px;
}

.nav-me .navbar-brand {
    position: absolute;
    left: 30px;
    top: 10px;
}

img {
    max-width: 100%;
}

/*content room*/

.con-box-main {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    margin: 20px 0;
    height: 400px;
    position: relative;
}

.__line-center {
    height: 230px;
    width: 1px;
    background: #dadada;
    display: block;
    position: absolute;
    top: -230px;
    left: 50%;
    z-index: 0;
}

.con-box-main .main-img {
    flex-grow: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    background: #fefefe;
    position: relative;
}
.con-box-main .main-img img{
    position: absolute;
    left: 0;
    z-index: 99;
    bottom: -52px;
}

.con-box-main .items {
    flex-grow: 5;
    width: 100%;
    display: flex;
    align-items: flex-end;
}

img#home {
    left: 33%;
    width: 125px;
}

img#car {
    width: 225px;
    left: 20%;
    bottom: -65px;
}

.box-item .img img {
    width: 80px;
}

.box-item {
    z-index: 10;
    position: absolute;
}

.box-left {
    left: 81px;
    bottom: 100px;
}

.box-left .__line-center {
    height: 118px;
    top: -95px;
}

.box-right {
    right: 81px;
    bottom: 100px;
}

.box-right .__line-center {
    height: 122px;
    top: -113px;
}

.boats .box-left .__line-center {
    height: 120px;
    top: -110px;
}

.boats .box-right .__line-center {
    height: 140px;
    top: -132px;

}

@media (max-width: 480px) {
    .box-item {
        margin: 0 -26px;
    }
}